// Layer rules configuration
layer-rule {
    match namespace="^dms:notification-popup$"

    block-out-from "screen-capture"
}

layer-rule {
    match namespace="^swaync-notification-window$"

    block-out-from "screen-capture"
}

layer-rule {
    match namespace="^swaync-control-center$"

    block-out-from "screen-capture"
}
