.lock
*.db
*.key
bundled_plugins.txt
disabled_plugins.txt
early-access-registry.txt
splash-subscription-mode.txt
event-log-metadata/
tasks/
workspace/
options/AIAssistantQuotaManager2.xml
options/AIAssistantPromptLibraryStorage.xml
options/AIOnboardingPromoWindowAdvisor.xml
options/CommonFeedbackSurveyService.xml
options/DontShowAgainFeedbackService.xml
options/InstallJunieHubActionManager.xml
options/WebStormTypeEngineSurveyState.xml
options/actionSummary.xml
options/csvSettings.xml
options/databaseDrivers.xml
options/databaseSettings.xml
options/debugger.xml
options/dailyLocalStatistics.xml
options/diff.xml
options/embeddings-activation.xml
options/EventLogAllowedList.xml
options/features.usage.statistics.xml
options/find.xml
options/gitlab.xml
options/inline.factors.completion.xml
options/llm.for.code.xml
options/llm.mcpServers.xml
options/llm.nextEdits.xml
options/log-categories.xml
options/nodejs.xml
options/other.xml
options/profilerRunConfigurations.xml
options/project.default.xml
options/recentProjects.xml
options/settingsSync.xml
options/terminal-font.xml
options/textmate.xml
options/trace_license_storage.xml
options/trusted-paths.xml
options/updates.xml
options/usage.statistics.xml
options/window.layouts.xml
options/window.state.xml
