.lock
*.db
*.key
bundled_plugins.txt
disabled_plugins.txt
early-access-registry.txt
splash-subscription-mode.txt
event-log-metadata/
tasks/
options/AIOnboardingPromoWindowAdvisor.xml
options/trace_license_storage.xml
options/AIAssistantQuotaManager2.xml
options/AIChatContextPopupPromotionState.xml
options/EventLogAllowedList.xml
options/InstallJunieHubActionManager.xml
options/WebStormTypeEngineSurveyState.xml
options/actionSummary.xml
options/embeddings-activation.xml
options/features.usage.statistics.xml
options/ide.general.local.xml
options/llm.for.code.xml
options/llm.mcpServers.xml
options/llm.nextEdits.xml
options/log-categories.xml
options/recentProjects.xml
options/trusted-paths.xml
options/updates.xml
options/usage.statistics.xml
options/window.layouts.xml
options/window.state.xml
workspace/
